<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<section class="my-primary-section">
    <h2 class="first-title">My awesome title</h2>
    <p class="interresting-words">What a title !</p>
    <p class="less-interresting-words">And there are some words too !</p>
    <f:image src="EXT:typo_3_pretty_extension/Resources/Public/Images/git.png" class="funny-image"/>
</section>