<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<section class="my-primary-section">
    <h2 class="first-title">Let's make a swedish fire torch !</h2>
    <p class="interresting-words">We need :</p>

    <p>Some wood</p>
    <f:if condition="{displayWood}">
        <f:image src="EXT:campfire/Resources/Public/Images/swedishFireTorch.jpg" class="ingredients making-fire" alt="A swedish fire torch"/>
        <f:else>
            <p class="comming-soon">Comming soon ;)</p>
        </f:else>
    </f:if>

    <p>A matchstick</p>
    <f:if condition="{displayMatchstick}}">
        <f:image src="EXT:campfire/Resources/Public/Images/matchstick.jpg" class="ingredients making-fire" alt="A matchstick"/>
        <f:else>
            <p class="comming-soon">Comming soon ;)</p>
        </f:else>
    </f:if>

    <p class="interresting-words">And we get :</p>
    <div id="result">
        <f:image src="EXT:campfire/Resources/Public/Images/nofire.jpg" class="making-fire nofire" alt="No fire :("/>
        <f:image src="EXT:campfire/Resources/Public/Images/happyfire.jpg" class="making-fire happyfire" alt="Happy fire :)"/>
    </div>
</section>