body {
    background-color: #EDF0F5;
}

.my-primary-section {
    background-color: #878787;
    text-align: center;
    width: 90vw;
    margin: auto;

    font-size: 24px;
}

.first-title {
    font-size: 36px;
}

.interresting-words {
    font-size: 28px;
}

.less-interresting-words {
    font-size: 20px;
    text-align: left;
}

.funny-image {
    height: 10vh;
    width: 10vh;
}

.making-fire {
    width: 300px;
    height: 300px;
}

.comming-soon {
    font-style: italic;
    font-weight: bold;
    font-size: 22px;
    color: white;
}

.happyfire {
    display: none;
}

img[src] ~ img[src] ~ div .happyfire{
    display: initial;
}

img[src] ~ img[src] ~ div .nofire{
    display: none;
}